
section h5:nth-child(2) {
    margin-top: 10px;
}

.jumbotron {
    background-color: rgba(204, 232, 248, 0.397);
}

p {
    margin-left: 20px;
    margin-right: 20px;
}

code {
    font-size: 17px;
}

.three-section-headers {
    margin-bottom: 10px;
}

