
@import 'navigation';
@import 'sections';

body {
    padding-left: 320px;
}

@media (max-width: 768px) { 
    body {
        padding-left: 0px;
        padding-top: 294px;
    }

    .size {
        width: 100%;
    }

    .fixed-top {
        height: 330px;
    }
 }

